@model grandpree.io.Controllers.Prediction

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Grandpree - Manage prediction</title>
        <script src="../../Scripts/knockout-2.2.1.js"></script>
        <script src="../../Scripts/jquery-2.0.0.intellisense.js"></script>
        <script src="../../Scripts/jquery-2.0.0.js"></script>
        <link href="../../Content/gp.css" rel="stylesheet" type="text/css"></link>
        <link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
        <div class=" container row">
            
            <div class="span8">
       
                <ul class="nav nav-pills pull-right">
                    <li class="active">
                    <a href="#">Home</a>
                    </li>
                    <li>
                    <a href="#">About</a>
                    </li>
                    <li>
                    <a href="#">Contact</a>
                    </li>
                    </ul>
              
                    <h2 class="muted">Grandpree</h2>
                <hr />
            </div>
            
            <div class="span8 well">
                <legend>Manage Race predictions</legend>
                <div>
                   
                    <h5>User name</h5>
                    <select data-bind="options: users, optionsText:'Name', optionsValue:'Id', value: selectedUser, optionsCaption: 'Choose...'"></select>
                </div>
                    
                
                <h5>Race</h5>
                <select data-bind="options: races, optionsText:'Name', optionsValue:'Id', value: selectedRace, optionsCaption: 'Choose...'"></select>
                <div>
                    <h5>Total points used</h5> <span class="badge badge-inverse" data-bind="text: totalPoints" ></span>    
                </div>
        
            </div>
            <div class="span8">
                    
                <table id="errors" data-bind="foreach: errorMessages">
                    <tr>
                        <td> 
                            <div class="alert alert-error" data-bind="text: error">
                                <h4>Note!</h4>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="span8">

                <table id="races" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Driver details
                            </th>
                            <th>
                                Grid
                            </th>
                            <th>
                                Retire
                            </th>
                            <th>
                                Podium
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: predictions">
                        <tr>
                            <td>
                                <select data-bind="options: $parent.drivers, optionsText:'Name',  optionsValue:'Id', value: DriverId, optionsCaption: 'Choose...'"></select>
                            </td>
                            <td>
                                <input class="span1" type="text" data-bind="value: Grid"/>
                            </td>
                            <td>
                                <input class="span1" type="text" data-bind="value: Retire"/>
                            </td>
                            <td>
                                <input class="span1" type="text" data-bind="value: Podium"/>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="#" data-bind="click:$parent.removePrediction" ><i class="icon-remove icon-white"></i> Remove</a>    
                            </td>    
                        </tr>
                    </tbody>
                </table>
        
                <button class="btn btn-success" data-bind="click: addPrediction"><i class="icon-plus-sign icon-white"></i> Add</button>
                <button class="btn btn-primary" data-bind="click: submit, enable:readyToSubmit"><i class="icon-ok icon-white"></i> Submit</button>
            </div>
        </div>
    </body>
    
    <script src="../../Scripts/gp.all.js" language="javascript"></script>
    <script type="text/javascript">

        ko.numericObservable = function (initialValue) {
            var _actual = ko.observable(initialValue);

            var result = ko.dependentObservable({
                read: function () {
                    return _actual();
                },
                write: function (newValue) {
                    var parsedValue = parseFloat(newValue);
                    _actual(isNaN(parsedValue) ? newValue : parsedValue);
                }
            });

            return result;
        };

        
        
        $(function() {

                $.get("./context", function(data) {

                    gp.vm = new gp.PredictionViewModel(data);
                    ko.applyBindings(gp.vm);
                });

            });

    </script>
</html>